@import "settings";
.header{
  height: 100px;
  max-height: 100px;
  background: $mainLightColor;
  margin: auto;
  position: relative;
  overflow: hidden;
  &__column {
    display: inline-block;
    background: $mainDarkColor;
    height: 100%;
    border: 2px dotted white;
    vertical-align: middle;
    &_logo{
      font-size: 20pt;
      padding-top: 25px;
      text-align: center;
      color:white;
    }
    &_userBar{
      .userBar{
        margin-top: 25px;
        display: flex;
        justify-content: right;
        .userBar__item{
          display: inline-block;
          margin-right: 15px;
        }
      }
    }
  }
}

